.gatherIn-goodCompany{
    overflow: hidden;
    .theCult-info-container{
        .knife{
            display: none;
        }
        .theCult-info{
            text-align: center;
            .theCult-description{
                margin-top: 25px;
                margin-left: 9%;
                margin-right: 9%;
            }
            .theRule{
                margin-left: 11%;
                margin-right: 11%;
            }
        }
    }
    .mobileDemonSlayer{
        width: 100%;
    }
    .desktopDemonSlayer{
        display: none;
    }
}
@media (min-width: 768px){
    .gatherIn-goodCompany{
        margin-top: -40.8vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .theCult-info-container{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            padding-top: 26.5vw;
            .knife{
                display: block;
                width: 8.417vw;
            }
            .theCult-info{
                text-align: start;
                width: clamp(250px, 24vw, 791px);
                .theCult-description{
                    margin-top: 2vw;
                    margin-left: 0;
                    margin-right: 1vw;
                }
                .theRule{
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 2.6vw;
                }
            }
        }
        .mobileDemonSlayer{
            display: none;
        }
        .desktopDemonSlayer{
            position: relative;
            z-index: 1;
            display: block;
            width: 57vw;
            margin-right: -2vh;
        }
    }
}