.greatFood-container{
    .video-container{
        position: sticky;
        top: 0;
        width: 100%;
        overflow: hidden;
        .ourStoryVideo {
            width: 123.9%;
        }
    }
    .infos-container{
        text-align: center;
        position: relative;
        background-color: #FAF5E5;
       .title-info{
        padding-top: 20px;
        padding-bottom: 30px;
       }
       .texts-container{
       .info1{
        margin-left: 10%;
        margin-right: 10%;
       } 
       .info2{
        margin-left: 4%;
        margin-right: 4%;
        padding-bottom: 20px;
       } 
    }
    }
    .dishesButton-container{
        text-align: center;
        position: relative;
        background-color: #FAF5E5;
    h2{
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 2vw;
    }
    h1{
        margin: 4vw 0;
    }
    }
}
@media (min-width: 768px){
    .greatFood-container{
        .video-container{
            .ourStoryVideo {
            }
        }
        .infos-container{
            text-align: start;
            position: relative;
            background-color: #FAF5E5;
            display: flex;
            justify-content: center;
            padding-top: 7vw;
            padding-bottom: 4vw;
           .title-info{
            padding-top: 0vw;
            padding-bottom: 0;
           }
           .texts-container{
            margin-left: 6vw;
           .info1{
            margin-left: 0;
            margin-right: 0;
            min-width: 291px;
            width: 24.25vw;
           } 
           .info2{
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 0;
            min-width: 300px;
            width: 25vw;
           }
        }
        }
        .dishesButton-container{
            text-align: center;
            position: relative;
            background-color: #FAF5E5;
        h2{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 2vw;
        }
        }
    }
}